In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Dataset_Completo.csv',sep =',')
df.columns= df.columns.str.strip()
df

,Unnamed: 0,Raza,Altura (cm),Peso (kg),Inteligencia (%),Coste total (€),Vida promedio (años),Nº Enfermedades graves,Coste anual promedio (€),Hogar,Trucos,Actividad física del dueño,Distrito
0,0,Chihuahua,13.0,2.5,17,19722,16.20,2,1198,Apartamento pequeño,No,Frecuente,Fuencarral-El Pardo
1,1,Chihuahua,13.5,2.2,15,19630,16.80,1,1192,Jardín Amplio,Sí,Nada,Villaverde
2,2,Chihuahua,13.2,2.1,16,19650,16.40,2,1195,Apartamento pequeño,No,Poco frecuente,Chamberí
3,3,Chihuahua,13.3,2.3,15,19700,16.70,1,1190,Apartamento mediano,No,Muy frecuente,Fuencarral-El Pardo
4,4,Chihuahua,12.8,2.4,17,19730,16.10,2,1199,Jardín Amplio,Sí,Frecuente,Latina
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,205,Schnauzer Miniatura,33.6,7.8,86,14505,11.79,3,1221,Jardín Amplio,No,Nada,Fuencarral-El Pardo
206,206,Schnauzer Miniatura,33.3,7.4,87,14482,11.81,2,1226,Finca,Sí,Muy frecuente,San Blas-Canillejas
207,207,Schnauzer Miniatura,32.8,7.9,86,14457,11.85,3,1230,Apartamento pequeño,No,Frecuente,Carabanchel
208,208,Schnauzer Miniatura,33.9,6.5,88,14512,11.78,2,1220,Jardín Amplio,Sí,Poco frecuente,Ciudad Lineal
209,209,Schnauzer Miniatura,33.7,7.6,86,14497,11.80,3,1223,Apartamento mediano,No,Nada,Latina

In [11]:
df = df.drop (columns= ['Unnamed: 0'])

In [12]:
df

,Raza,Altura (cm),Peso (kg),Inteligencia (%),Coste total (€),Vida promedio (años),Nº Enfermedades graves,Coste anual promedio (€),Hogar,Trucos,Actividad física del dueño,Distrito
0,Chihuahua,13.0,2.5,17,19722,16.20,2,1198,Apartamento pequeño,No,Frecuente,Chamartín
1,Chihuahua,13.5,2.2,15,19630,16.80,1,1192,Jardín Amplio,Sí,Nada,Hortaleza
2,Chihuahua,13.2,2.1,16,19650,16.40,2,1195,Apartamento pequeño,No,Poco frecuente,Carabanchel
3,Chihuahua,13.3,2.3,15,19700,16.70,1,1190,Apartamento mediano,No,Muy frecuente,Retiro
4,Chihuahua,12.8,2.4,17,19730,16.10,2,1199,Jardín Amplio,Sí,Frecuente,Moratalaz
...,...,...,...,...,...,...,...,...,...,...,...,...
205,Schnauzer Miniatura,33.6,7.8,86,14505,11.79,3,1221,Jardín Amplio,No,Nada,Villa de Vallecas
206,Schnauzer Miniatura,33.3,7.4,87,14482,11.81,2,1226,Finca,Sí,Muy frecuente,Arganzuela
207,Schnauzer Miniatura,32.8,7.9,86,14457,11.85,3,1230,Apartamento pequeño,No,Frecuente,Chamberí
208,Schnauzer Miniatura,33.9,6.5,88,14512,11.78,2,1220,Jardín Amplio,Sí,Poco frecuente,Usera
209,Schnauzer Miniatura,33.7,7.6,86,14497,11.80,3,1223,Apartamento mediano,No,Nada,Ciudad Lineal

In [13]:
# cols=['Hogar','Trucos','Actividad física del dueño','Distrito']
# df[cols]=df[cols].str.strip() así no funciona

df['Hogar'] = df['Hogar'].str.strip()
df['Trucos'] = df['Trucos'].str.strip()
df['Actividad física del dueño'] = df['Actividad física del dueño'].str.strip()
df['Distrito'] = df['Distrito'].str.strip()
df['Raza'] = df['Raza'].str.strip()
df

,Raza,Altura (cm),Peso (kg),Inteligencia (%),Coste total (€),Vida promedio (años),Nº Enfermedades graves,Coste anual promedio (€),Hogar,Trucos,Actividad física del dueño,Distrito
0,Chihuahua,13.0,2.5,17,19722,16.20,2,1198,Apartamento pequeño,No,Frecuente,Chamartín
1,Chihuahua,13.5,2.2,15,19630,16.80,1,1192,Jardín Amplio,Sí,Nada,Hortaleza
2,Chihuahua,13.2,2.1,16,19650,16.40,2,1195,Apartamento pequeño,No,Poco frecuente,Carabanchel
3,Chihuahua,13.3,2.3,15,19700,16.70,1,1190,Apartamento mediano,No,Muy frecuente,Retiro
4,Chihuahua,12.8,2.4,17,19730,16.10,2,1199,Jardín Amplio,Sí,Frecuente,Moratalaz
...,...,...,...,...,...,...,...,...,...,...,...,...
205,Schnauzer Miniatura,33.6,7.8,86,14505,11.79,3,1221,Jardín Amplio,No,Nada,Villa de Vallecas
206,Schnauzer Miniatura,33.3,7.4,87,14482,11.81,2,1226,Finca,Sí,Muy frecuente,Arganzuela
207,Schnauzer Miniatura,32.8,7.9,86,14457,11.85,3,1230,Apartamento pequeño,No,Frecuente,Chamberí
208,Schnauzer Miniatura,33.9,6.5,88,14512,11.78,2,1220,Jardín Amplio,Sí,Poco frecuente,Usera
209,Schnauzer Miniatura,33.7,7.6,86,14497,11.80,3,1223,Apartamento mediano,No,Nada,Ciudad Lineal

In [15]:
df['Trucos']

0      No
1      Sí
2      No
3      No
4      Sí
       ..
205    No
206    Sí
207    No
208    Sí
209    No
Name: Trucos, Length: 210, dtype: object

In [17]:
# Lista con las nuevas clases y sus proporciones
nuevas_clases = [
    ("Fuencarral-El Pardo", 15),
    ("Moncloa-Aravaca", 10),
    ("Latina", 14),
    ("Carabanchel", 15),
    ("Usera", 9),
    ("Villaverde", 9),
    ("Puente de Vallecas", 18),
    ("Villa de Vallecas", 7),
    ("Moratalaz", 5),
    ("Vicálvaro", 4),
    ("Ciudad Lineal", 13),
    ("San Blas-Canillejas", 11),
    ("Hortaleza", 12),
    ("Barajas", 4),
    ("Tetuán", 9),
    ("Chamartín", 9),
    ("Chamberí", 10),
    ("Centro", 12),
    ("Retiro", 6),
    ("Arganzuela", 8),
    ("Salamanca", 10)
]

# Generar una lista con las nuevas clases replicadas según sus proporciones
nuevos_registros = []
for clase, cantidad in nuevas_clases:
    nuevos_registros.extend([clase] * cantidad)

# Mezclar aleatoriamente la lista de nuevas clases
np.random.shuffle(nuevos_registros)

# Combinar las clases existentes y nuevas
# df['barrio'] = nuevos_registros

# Reemplazar las clases existentes por las nuevas en el DataFrame original
df['Distrito'] = nuevos_registros[:210]  # Tomamos los primeros 210 registros de la lista

df

# Verificar que tenemos el número correcto de registros
# assert len(df) == 210

,Raza,Altura (cm),Peso (kg),Inteligencia (%),Coste total (€),Vida promedio (años),Nº Enfermedades graves,Coste anual promedio (€),Hogar,Trucos,Actividad física del dueño,Distrito
0,Chihuahua,13.0,2.5,17,19722,16.20,2,1198,Apartamento pequeño,No,Frecuente,Carabanchel
1,Chihuahua,13.5,2.2,15,19630,16.80,1,1192,Jardín Amplio,Sí,Nada,Salamanca
2,Chihuahua,13.2,2.1,16,19650,16.40,2,1195,Apartamento pequeño,No,Poco frecuente,Salamanca
3,Chihuahua,13.3,2.3,15,19700,16.70,1,1190,Apartamento mediano,No,Muy frecuente,Chamartín
4,Chihuahua,12.8,2.4,17,19730,16.10,2,1199,Jardín Amplio,Sí,Frecuente,Puente de Vallecas
...,...,...,...,...,...,...,...,...,...,...,...,...
205,Schnauzer Miniatura,33.6,7.8,86,14505,11.79,3,1221,Jardín Amplio,No,Nada,Centro
206,Schnauzer Miniatura,33.3,7.4,87,14482,11.81,2,1226,Finca,Sí,Muy frecuente,Hortaleza
207,Schnauzer Miniatura,32.8,7.9,86,14457,11.85,3,1230,Apartamento pequeño,No,Frecuente,Ciudad Lineal
208,Schnauzer Miniatura,33.9,6.5,88,14512,11.78,2,1220,Jardín Amplio,Sí,Poco frecuente,Fuencarral-El Pardo
209,Schnauzer Miniatura,33.7,7.6,86,14497,11.80,3,1223,Apartamento mediano,No,Nada,Usera

In [18]:
df['Distrito'].value_counts()

Distrito
Puente de Vallecas     18
Carabanchel            15
Fuencarral-El Pardo    15
Latina                 14
Ciudad Lineal          13
Hortaleza              12
Centro                 12
San Blas-Canillejas    11
Chamberí               10
Moncloa-Aravaca        10
Salamanca              10
Chamartín               9
Villaverde              9
Usera                   9
Tetuán                  9
Arganzuela              8
Villa de Vallecas       7
Retiro                  6
Moratalaz               5
Vicálvaro               4
Barajas                 4
Name: count, dtype: int64

In [19]:
df.to_csv('Dataset_Completo.csv')